<div class="row">
    <!-- <div class="small-12 medium-4 columns"> -->
        <div id="gallows" class="gallows gallows-state-<%= current_game.failed_attempts %>">

        </div>
    </div>

    <div class="row">
        <h1 class="word column align-self-top">
            <% current_game.word.split('').each do |letter| %>
                        
                <%= current_game.finished? || current_game.selected_letters.include?(letter) ? letter : '_' %>
                      
            <% end %>
        </h1>
    </div>

        <% if current_game.finished? %>
            <div class="row game-status">
                <div class="small-12 columns text-center">
                    <% if current_game.guessed? %>
                        <div id="notice_wrapper">
                          <p class="alert">You Win!<br><%= link_to "Play again?", new_game_path %> </p></br>
                        </div>
                    <% else %>
                        <div id="notice_wrapper">
                          <p class="alert">Game Over <%= link_to "Try again?", new_game_path %> </p>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>

        <%= form_for :game, :url => game_path, :method => :patch do |form| %>
            <div class="row medium-6 columns">
                <div class="letters">
                    <% ('A'..'Z').each do |letter| %>
            
                        <%
                            if current_game.selected_letters.include? letter
                                button_class = current_game.word.include?(letter) ? 'success' : 'alert'
                            end
                        %>
                        <div class="small-2 medium-2 columns text-center">
                            <div class="letter">
                                <%= form.submit letter, :name => 'letter', :class => "button expand #{button_class}" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <% end %>

        <div class="row">
            <div class="game-actions">
                <!-- Decide if i want to take this line out -->
                <div class="small-2 <%= current_game.finished? ? '' : 'medium-7' %> columns text-center">
                    <%= link_to root_path(:method => :delete), :class => 'hollow button expand success' do %>
                        <i class="fa fa-home"></i> Go Back
                    <% end %>
                </div>

                <% unless current_game.finished? %>
                    <div class="small-2 medium-4 columns">
                        <%= link_to game_path, :class => 'hollow button expand alert', :method => :delete do %>
                            <i class="fa fa-fire"></i> End game
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
